In [193]:
import pandas as pd
import numpy as np

Importing Data

In [194]:
main=pd.read_csv("movies_metadata.csv")
credits=pd.read_csv("credits.csv")
keywords=pd.read_csv("keywords.csv")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15912\3678828943.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  main=pd.read_csv("movies_metadata.csv")

Analyzing data

In [195]:
main.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [196]:
credits.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [197]:
keywords.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

In [198]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [199]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Adding 3 different files together

In [200]:
data=pd.concat([main,credits,keywords],axis='columns')

In [201]:
data.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,cast,crew,id,id,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862.0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [202]:
data.shape

(46419, 29)

Drop Duplicates values

In [203]:
data[data.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,cast,crew,id,id,keywords
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,"A love, a hope, a wall.",The Promise,False,5.0,1.0,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...",105045.0,105045,"[{'id': 7059, 'name': 'anti-communism'}, {'id'..."
9165,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le SamouraÃ¯,Hitman Jef Costello is a perfectionist who alw...,...,There is no solitude greater than that of the ...,Le SamouraÃ¯,False,7.9,187.0,"[{'cast_id': 11, 'character': 'Jef Costello', ...","[{'credit_id': '52fe440ac3a36847f807ee01', 'de...",5511.0,5511,"[{'id': 90, 'name': 'paris'}, {'id': 1010, 'na..."
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,NaN,The Warrior,False,6.3,15.0,"[{'cast_id': 1, 'character': 'Lafcadia - Warri...","[{'credit_id': '52fe4465c3a368484e02091d', 'de...",23305.0,23305,[]
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971.0,141971,[]
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971.0,141971,[]

In [204]:
data=data.drop_duplicates()

In [205]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'id', 'id', 'keywords'],
      dtype='object')

Selecting Important features from Data

In [206]:
data=data[["id","title","overview","genres","keywords","cast","crew"]]

In [207]:
#taking 10000 rows
data=data.iloc[:10000,2:]
data.head(2)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

Drop Null Values

In [208]:
data.isnull().sum()

id           0
title        0
overview    29
genres       0
keywords     0
cast         0
crew         0
dtype: int64

In [209]:
data=data.dropna()

In [210]:
data.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

Changing the format of GENRES , KEYWORDS , CREW & CAST and extracting important tags & names

In [211]:
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [212]:
data["genres"]=data["genres"].apply(convert)

In [213]:
data['keywords']=data["keywords"].apply(convert)

In [214]:
def convert3(obj):
    l=[]
    c=0
    for i in ast.literal_eval(obj):
        if c!=3:
            l.append(i['name'])
        else:
            break    
    return l

In [215]:
data["cast"]=data["cast"].apply(convert3)

In [216]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i["job"]=="Director":
            l.append(i['name'])
            break
    return l

In [217]:
data["crew"]=data["crew"].apply(fetch_director)

In [218]:
data.head(3)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]

Converting Overview feature into list

In [219]:
data["overview"]=data["overview"].apply(lambda x:x.split())

Remove space from Genres , keywors , cast and crew

In [220]:
data["genres"]=data["genres"].apply(lambda x:[i.replace(" ","") for i in x])
data['keywords']=data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
data["cast"]=data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
data['crew']=data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [221]:
data.head(2)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter]
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston]

Adding overview , genres , keywords , cast and crew in single column

In [222]:
data["tag"]=data['overview']+data['genres']+data['keywords']+data["cast"]+data['crew']

In [223]:
new_df=data[["id","title","tag"]]

In [224]:
new_df.head()

,id,title,tag
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."

convert TAG column into string

In [225]:
new_df["tag"]=new_df["tag"].apply(lambda x:" ".join(x))

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15912\565838045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tag"]=new_df["tag"].apply(lambda x:" ".join(x))

TAG into Lower case

In [226]:
new_df["tag"]=new_df["tag"].apply(lambda x:x.lower())

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15912\875911427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tag"]=new_df["tag"].apply(lambda x:x.lower())

In [227]:
new_df.head()

,id,title,tag
0,862,Toy Story,"led by woody, andy's toys live happily in his ..."
1,8844,Jumanji,when siblings judy and peter discover an encha...
2,15602,Grumpier Old Men,a family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,just when george banks has recovered from his ...

using PorterStemmer to convert words into their root words (eg: [likes,liked,likely,liking] will be [like])

In [228]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [229]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [230]:
new_df["tag"]=new_df["tag"].apply(stem)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15912\1661105523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tag"]=new_df["tag"].apply(stem)

converting TAG column into vector form

In [231]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=20000,stop_words='english')

In [232]:
vectores=cv.fit_transform(new_df["tag"]).toarray()

In [233]:
vectores.shape

(9971, 20000)

finding cosine similarity between all the movies

In [234]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectores)

In [ ]:
similarity.shape

(9971, 9971)

function for recommending top 5 similar movies

In [ ]:
def recom(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    dist=similarity[movie_index]
    movie_list=sorted(list(enumerate(dist)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
recom('Toy Story')

Toy Story 2
Carried Away
Brighton Beach Memoirs
Sweet Nothing
The Code

dump file to use in backend of our web page

In [ ]:
import pickle

In [ ]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [ ]:
pickle.dump(new_df.to_dict,open('movies_dict.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('simi.pkl','wb'))

extracting directors name for Tag column

In [ ]:
director=[ ]
for i in new_df["tag"]:
    j=i.split()[-1]
    director.append(j)

In [ ]:
q=pd.DataFrame(director)

In [ ]:
pickle.dump(q,open('director_name.pkl','wb'))

function to find 5 movies of same director

In [ ]:
def recom2(director):
    director_list=q[q[0]==director].index[:5]

    for i in director_list:
        print(new_df.iloc[i].title)

In [ ]:
recom2("woodyallen")

Mighty Aphrodite
Bullets Over Broadway
Manhattan Murder Mystery
Everyone Says I Love You
Sleeper